In [4]:
import pandas as pd
import numpy as np

In [10]:
g7 = pd.Series([1,2,3,4,5,6,8,9,10])

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7     9
8    10
dtype: int64

In [12]:
g7 = pd.Series([1,2,3,4,5,6,8,9,10])

In [13]:
g7

0     1
1     2
2     3
3     4
4     5
5     6
6     8
7     9
8    10
dtype: int64

In [15]:
g7.dtype

dtype('int64')

In [16]:
g7.values

array([ 1,  2,  3,  4,  5,  6,  8,  9, 10])

In [50]:
g7.index

RangeIndex(start=0, stop=10, step=1)

In [21]:
g7

california        1
united states     2
nyc               3
paris             4
manchester        5
liverpool         6
everton           8
arsenal           9
bayern munich    10
dtype: int64

In [22]:
g7.pop('california')

1

In [23]:
g7

united states     2
nyc               3
paris             4
manchester        5
liverpool         6
everton           8
arsenal           9
bayern munich    10
dtype: int64

In [26]:
g7.iloc(0)

In [28]:
g7.iloc[0]

2

In [29]:
g7.iloc[-2]

9

In [30]:
g7['liverpool':'arsenal']

liverpool    6
everton      8
arsenal      9
dtype: int64

In [31]:
g7*2.456

united states     4.912
nyc               7.368
paris             9.824
manchester       12.280
liverpool        14.736
everton          19.648
arsenal          22.104
bayern munich    24.560
dtype: float64

In [32]:
g7*8.845+4.2

united states    21.890
nyc              30.735
paris            39.580
manchester       48.425
liverpool        57.270
everton          74.960
arsenal          83.805
bayern munich    92.650
dtype: float64

In [33]:
g7>60

united states    False
nyc              False
paris            False
manchester       False
liverpool        False
everton          False
arsenal          False
bayern munich    False
dtype: bool

In [34]:
g7<60

united states    True
nyc              True
paris            True
manchester       True
liverpool        True
everton          True
arsenal          True
bayern munich    True
dtype: bool

g7*100

In [39]:
 g7['united states']<500

True

In [42]:
g7[g7 > 400]

Series([], dtype: int64)

In [43]:
g7.mean()

5.875

In [44]:
g7.std()

2.9001231500945415

In [52]:
g7 = pd.Series([456.45,456.26,87.88,86,24,96.69,87.64,98,96.68,78])
g7

0    456.45
1    456.26
2     87.88
3     86.00
4     24.00
5     96.69
6     87.64
7     98.00
8     96.68
9     78.00
dtype: float64

In [47]:
g7.size

10

In [58]:
g7.index = [
    'california',
    'nyc',
    'chicago',
    'blueside',
    'austin block',
    'sirdale',
    'newriver side',
    'manhatten',
    'woodberry',
   'upside falls',
]

g7

california       456.45
nyc              456.26
chicago           87.88
blueside          86.00
austin block      24.00
sirdale           96.69
newriver side     87.64
manhatten         98.00
woodberry         96.68
upside falls      78.00
dtype: float64

In [59]:
g7

california       456.45
nyc              456.26
chicago           87.88
blueside          86.00
austin block      24.00
sirdale           96.69
newriver side     87.64
manhatten         98.00
woodberry         96.68
upside falls      78.00
dtype: float64

In [60]:
g7 > 80

california        True
nyc               True
chicago           True
blueside          True
austin block     False
sirdale           True
newriver side     True
manhatten         True
woodberry         True
upside falls     False
dtype: bool

In [63]:
g7[g7<80]

austin block    24.0
upside falls    78.0
dtype: float64

In [65]:
g7[(g7 > 80) & (g7 <200)]

chicago          87.88
blueside         86.00
sirdale          96.69
newriver side    87.64
manhatten        98.00
woodberry        96.68
dtype: float64

In [69]:
g7[(g7 > 80) | (g7 < 200)]

california       456.45
nyc              456.26
chicago           87.88
blueside          86.00
austin block      24.00
sirdale           96.69
newriver side     87.64
manhatten         98.00
woodberry         96.68
upside falls      78.00
dtype: float64

In [70]:
g7.iloc[1]

456.26

In [71]:
g7.iloc[2]=62.63

In [72]:
g7.iloc[2]

62.63

In [73]:
g7

california       456.45
nyc              456.26
chicago           62.63
blueside          86.00
austin block      24.00
sirdale           96.69
newriver side     87.64
manhatten         98.00
woodberry         96.68
upside falls      78.00
dtype: float64

In [74]:
g7 < 60

california       False
nyc              False
chicago          False
blueside         False
austin block      True
sirdale          False
newriver side    False
manhatten        False
woodberry        False
upside falls     False
dtype: bool

In [75]:
g7[g7 < 80]=90.99

In [76]:
g7

california       456.45
nyc              456.26
chicago           90.99
blueside          86.00
austin block      90.99
sirdale           96.69
newriver side     87.64
manhatten         98.00
woodberry         96.68
upside falls      90.99
dtype: float64

In [78]:
import pandas as pd

In [80]:
g7

california       456.45
nyc              456.26
chicago           90.99
blueside          86.00
austin block      90.99
sirdale           96.69
newriver side     87.64
manhatten         98.00
woodberry         96.68
upside falls      90.99
dtype: float64

In [81]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [82]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [87]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [88]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [89]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [90]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [92]:


df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [93]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [94]:
df.size

35

In [95]:
df.shape

(7, 5)

In [96]:
df.info

<bound method DataFrame.info of                 Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America>

In [97]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [98]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

In [102]:
df.loc['Canada']

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [104]:
df.loc['United States']

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [105]:
df.iloc[2]

Population        80.94
GDP             3874437
Surface Area     357114
HDI               0.916
Continent        Europe
Name: Germany, dtype: object

In [108]:
   df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [113]:
df.loc['France' : 'Italy','Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [114]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

In [115]:
df.loc['France' : 'United States',['GDP', 'Surface Area']]

                     GDP  Surface Area
France           2833687        640679
Germany          3874437        357114
Italy            2167744        301336
Japan            4602367        377930
United Kingdom   2950039        242495
United States   17348075       9525067

In [116]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [117]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [118]:
df.iloc[1:4]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [120]:
df.iloc[1:3,3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [125]:
df.iloc[1:4,4]

France     Europe
Germany    Europe
Italy      Europe
Name: Continent, dtype: object

In [127]:
df.iloc[1:3,[3,4]]

           HDI Continent
France   0.888    Europe
Germany  0.916    Europe

In [128]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [133]:
df['GDP'] > 20000

Canada            True
France            True
Germany           True
Italy             True
Japan             True
United Kingdom    True
United States     True
Name: GDP, dtype: bool

In [134]:
df.loc[df['Population']>70]

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [135]:
df.loc[df['Surface Area']>400000]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [136]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [137]:
df.drop(['France'])

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [143]:
df.drop(columns=['Population','GDP'])  



df.drop(columns=['Population', 'HDI'])

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [144]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [145]:


df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [146]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [147]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [148]:
df[['GDP','HDI']]

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [149]:
df[['GDP','HDI']]+crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

In [154]:
langs = pd.Series(
    ['french','german','italian'],
                  index=['France','Germany','Italy'],
                  name='Langvage'
                 )

In [155]:
langs

France      french
Germany     german
Italy      italian
Name: Langvage, dtype: object

In [157]:
df.append(langs)

,Population,GDP,Surface Area,HDI,Continent,France,Germany,Italy
Canada,35.467,1785387.0,9984670.0,0.913,America,NaN,NaN,NaN
France,63.951,2833687.0,640679.0,0.888,Europe,NaN,NaN,NaN
Germany,80.940,3874437.0,357114.0,0.916,Europe,NaN,NaN,NaN
Italy,60.665,2167744.0,301336.0,0.873,Europe,NaN,NaN,NaN
Japan,127.061,4602367.0,377930.0,0.891,Asia,NaN,NaN,NaN
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,NaN,NaN,NaN
United States,318.523,17348075.0,9525067.0,0.915,America,NaN,NaN,NaN
Langvage,NaN,NaN,NaN,NaN,NaN,french,german,italian

In [158]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [159]:
df['Langvage']=langs

In [160]:
df

                Population       GDP  Surface Area    HDI Continent Langvage
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   french
Germany             80.940   3874437        357114  0.916    Europe   german
Italy               60.665   2167744        301336  0.873    Europe  italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [161]:
df['Langvage']='english'

In [163]:
df[langs]='spy'

In [164]:
df

,Population,GDP,Surface Area,HDI,Continent,Langvage,french,german,italian
Canada,35.467,1785387,9984670,0.913,America,english,spy,spy,spy
France,63.951,2833687,640679,0.888,Europe,english,spy,spy,spy
Germany,80.940,3874437,357114,0.916,Europe,english,spy,spy,spy
Italy,60.665,2167744,301336,0.873,Europe,english,spy,spy,spy
Japan,127.061,4602367,377930,0.891,Asia,english,spy,spy,spy
United Kingdom,64.511,2950039,242495,0.907,Europe,english,spy,spy,spy
United States,318.523,17348075,9525067,0.915,America,english,spy,spy,spy

In [165]:
df

,Population,GDP,Surface Area,HDI,Continent,Langvage,french,german,italian
Canada,35.467,1785387,9984670,0.913,America,english,spy,spy,spy
France,63.951,2833687,640679,0.888,Europe,english,spy,spy,spy
Germany,80.940,3874437,357114,0.916,Europe,english,spy,spy,spy
Italy,60.665,2167744,301336,0.873,Europe,english,spy,spy,spy
Japan,127.061,4602367,377930,0.891,Asia,english,spy,spy,spy
United Kingdom,64.511,2950039,242495,0.907,Europe,english,spy,spy,spy
United States,318.523,17348075,9525067,0.915,America,english,spy,spy,spy

In [169]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'
    }, index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    })

,Population,GDP,Surface Area,Human Development Index,Continent,Langvage,french,german,italian
Canada,35.467,1785387,9984670,0.913,America,english,spy,spy,spy
France,63.951,2833687,640679,0.888,Europe,english,spy,spy,spy
Germany,80.940,3874437,357114,0.916,Europe,english,spy,spy,spy
Italy,60.665,2167744,301336,0.873,Europe,english,spy,spy,spy
Japan,127.061,4602367,377930,0.891,Asia,english,spy,spy,spy
UK,64.511,2950039,242495,0.907,Europe,english,spy,spy,spy
USA,318.523,17348075,9525067,0.915,America,english,spy,spy,spy

In [170]:
df.rename(
    columns={
        'HDI' : 'Human devlopment Index',
        'Annual popcorn Consumption' : 'APC'
    }, index={
        'united States' : 'USA',
        'United Kingdom' : 'UK',
        'Argentina' : 'AR'
    })

,Population,GDP,Surface Area,Human devlopment Index,Continent,Langvage,french,german,italian
Canada,35.467,1785387,9984670,0.913,America,english,spy,spy,spy
France,63.951,2833687,640679,0.888,Europe,english,spy,spy,spy
Germany,80.940,3874437,357114,0.916,Europe,english,spy,spy,spy
Italy,60.665,2167744,301336,0.873,Europe,english,spy,spy,spy
Japan,127.061,4602367,377930,0.891,Asia,english,spy,spy,spy
UK,64.511,2950039,242495,0.907,Europe,english,spy,spy,spy
United States,318.523,17348075,9525067,0.915,America,english,spy,spy,spy

In [173]:
import pandas as pd
import numpy as np

df = pd.read_csv("/home/shashu/python and data science/pokemon_data.csv")

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True