In [4]:
class toby:
   def __init__(self,name,age):
    self.name=name
    self.age=age
    
    
tas = toby('tress',19)

print(tas.name)
print(tas.age)

tress
19

In [5]:
x=["apple,mango,fruit"]

In [6]:
x

['apple,mango,fruit']

In [7]:
x=['mango','banana','fruits','grapes']
x

['mango', 'banana', 'fruits', 'grapes']

In [15]:
for i in x:
    print(i)
    if i== "banana":
        continue

mango
banana
fruits
grapes

In [20]:
for i in range(-10,5):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4

In [ ]:
a="nvk"
a